.article_detail {
    font-size: 1.1em;
}
.article_detail .article_title {
    margin-bottom: 1em;
}

.article_detail .article_title h1 {
    padding-left: 1em;
    font-family: 'Aladin', cursive;
    font-size: 1.3em;
}

.article_detail .article_content div.sourcecode {
    background-color: #f8f8f8;
    border-top: 0.1em #cccccc solid;
    border-bottom: 0.1em #cccccc solid;
}

.article_detail .article_content a {
    color: #556669;
    border-bottom: 0.1em #cccccc solid;
}

.article_detail .article_meta {
    margin-top: 1em;
}

.article_detail .article_meta .article_author {
    font-weight: bold;
}

.article_detail .article_meta .article_date_published {
    font-weight: bold;
}

.article_detail .article_meta .article_category {
    font-weight: bold;
}

.article_detail .article_meta .article_category a {
    font-weight: bold;
    font-size: 1em;
}

#categories p {
    font-size: 1.5em;
}

#categories li {
    list-style-type: none;
    list-style-position: inside;
}

#categories a {
    font-size: 1.0em;
    font-weight: bold;
}
