#menu {
    float: left;
    width: 15em;
    background: linear-gradient(left, #aebcbf, #eeeeee);
    background: -moz-linear-gradient(left, #aebcbf, #eeeeee);
    background: -webkit-linear-gradient(left, #aebcbf, #eeeeee);
    background: -o-linear-gradient(left, #aebcbf, #eeeeee);
    background: -ms-linear-gradient(left), #aebcbf, #eeeeee);
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0.7em 0em;
}

#menu ul {
    margin: 0em;
    padding: 0em;
}

#menu li {
    margin: 0em;
    padding: 0em 0em 0em 1em;
    list-style-type: none;
    list-style-position: inside;
}

li.no-disc {
    border: 1px solid green;
}

a.main_menu {
    margin: 0em;
    padding: 0em;
    font-size: 1.9em;
    font-weight: normal;
    color: #0a0809;
}

a.main_menu:hover {
    margin: 0em;
    padding: 0em;
}

div#intro {
    margin-top: -0.5em;
    border-bottom: 0.1em dotted #aebcbf;
}

.menu_section {
    margin-top: 1em;
}

.menu_section span.menu_section_title {
    font-weight: bold;
    padding-left: 1em;
    padding-bottom: 2em;
}

#menu .menu_section li.with-disc {
    list-style-position: inside;
    list-style-type: disc;
    margin-left: 0.5em;
}

.menu_section a {
    font-size: 1.0em;
    font-weight: normal;
    padding-right: 0.25em;
}
