#menu {
    float: left;
    width: 15em;
    background: linear-gradient(left, #aebcbf, #eeeeee);
    background: -moz-linear-gradient(left, #aebcbf, #eeeeee);
    background: -webkit-linear-gradient(left, #aebcbf, #eeeeee);
    background: -o-linear-gradient(left, #aebcbf, #eeeeee);
    background: -ms-linear-gradient(left), #aebcbf, #eeeeee);
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0.7em 0em;
}

ul.menu_node {
    margin: 0em;
    padding: 0em;
}

li.menu_element {
    margin: 0em;
    padding: 0em 0em 0em 1em;
    list-style-type: none;
    list-style-position: inside;
}

a.main_menu {
    margin: 0em;
    padding: 0em;
    font-size: 1.9em;
    font-weight: normal;
    color: #0a0809;
}

a.main_menu:hover {
    margin: 0em;
    padding: 0em;
}

div#intro {
    margin-top: -0.5em;
    border-bottom: 0.1em dotted #aebcbf;
}

.menu_section {
    margin: 0.75em 0em 0em 0em;
}

.menu_section .menu_section_title {
    font-weight: bold;
    padding-left: 1em;
}

ul.template-tag-top {
    margin: 0em 0em 0em 0em;
}

li.with-disc {
    list-style-position: inside;
    list-style-type: disc;
}

li.no-disc {
    list-style-position: outside;
    list-style-type: none;
}

.menu_section a {
    font-size: 1.0em;
    font-weight: normal;
    padding-right: 0.25em;
    margin:0em;
}

#article_archive_tree ul {
    padding: 0em 0em 0em 1em;
    margin: 0em;
}

li.archive_tree_node {
    margin: 0em;
    padding: 0em;
}

.archive_tree_header {
    display: inline-block;
    margin: 0em;
    padding: 0em;
}

.inactive {
    margin: 0.25em 0em 0.25em 0em;
    padding: 0em;
}

.active {
    margin: 0.25em 0em 0.25em 0em;
    padding: 0em;
}

.menu_section .category_tag_list {
    margin: 0em 1em 0em 2em;
}
