{% extends "base_layout.html" %}
{% load static %}

{% block additional_css %}
{{ block.super }}
@import url({% static 'wbo/style/index.css' %});
{% endblock %}

{% block title %}about brahici's lair{% endblock %}

{% block content %}
<div id="about">
    <p>Oh. You want to know more about me.</p>
    <p>My name is Brice Vissi&egrave;re, I am french, born in 1972. I am a former
    chemist, but I work as software engineer since 1998.</p>
    <p>I live in South West of France, nearby Bordeaux.</p>
    <p>I'm currently working for Groupe Costes, which provides, among other
    things, IT services for Costes hotels and restaurants (including the world famous
    <a href="http://www.hotelcostes.com">Hotel Costes</a>).
    Since 2003, I have implemented several <a href="http://www.openerp.com">OpenERP</a>
    and <a href="http://www.tryton.org">Tryton</a> servers, developped
    an in-house ETL and worked on a wide area of software interfaces (PMS, IPBX, ...),
    all obviously in Python.</p>
    <p>Previously, I have worked for STI (from 1998 to 2003), an elder IT company
    (founded in 1966).  In 2001, STI was acquired by Gedas France (unit of Gedas,
    itself IT service subsidiary of Volkswagen).</p>
    <p>I'm <a href="http://www.python.org">Python</a> and
    <a href="http://www.kernel.org">Linux</a> enthusiast.
    Apart <a href="https://www.djangoproject.com">Django</a>, I also like developing
    with <a href="http://flask.pocoo.org/">Flask</a>
    and <a href="http://www.pylonsproject.org/">Pyramid</a>. My boxes run
    <a href="http://www.gentoo.org">Gentoo Linux</a> and
    <a href="http://www.archlinux.org">Arch Linux</a>. At work, we use
    <a href="http://www.debian.org">Debian Linux</a> for servers and
    <a href="https://www.ubuntu.com">Ubuntu Linux</a> for desktops and laptops.
    However, we have started using Apple boxes since 2008.</p>
    <p>Most of the time, I use a <a href="http://www.gnome.org">Gnome 3 desktop</a>,
    but sometimes, I switch to <a href="http://www.pekwm.org">pekwm</a> or
    <a href="http://www.nongnu.org/ratpoison">ratpoison</a>. I can't live without
    a terminal,
    <a href="http://library.gnome.org/users/gnome-terminal/stable/"> Gnome Terminal</a>
    or <a href="http://software.schmorp.de/pkg/rxvt-unicode.html"> rxvt-unicode</a>.
    I must admit that the Mac OS X terminal is good too.
    I am a <a href="http://www.zsh.org">zsh</a> fan.</p>
    <p>For developping, I use <a href="http://www.vim.org">vim</a> with some
    plugins: <a href="http://www.vim.org/scripts/script.php?script_id=1658">NERD tree</a>,
    <a href="http://www.vim.org/scripts/script.php?script_id=2540">snip Mate</a>,
    <a href="http://www.vim.org/scripts/script.php?script_id=1643">SuperTab</a>,
    <a href="http://www.vim.org/scripts/script.php?script_id=30">python.vim</a>
    and <a href="http://www.vim.org/scripts/script.php?script_id=2009">AutoClose</a>.
    I use the 'jellybeans' theme from
    <a href="http://www.vim.org/scripts/script.php?script_id=625">Color Sampler Pack</a>.</p>
    <p>brahici's lair is my new personal website. It is powered by
    <a href="https://www.djangoproject.com">Django</a>. I had previously started
    a PHP site, hosted at <a href="http://brice.vissiere.free.fr">Free.fr</a>,
    but it stayed stalled quickly, as I'm not really a PHP fan.</p>
    <p>I've been wondering for a while about using
    <a href="http://twitter.github.com/bootstrap/">Twitter's bootstrap</a>, to
    have a modern design. But I decided to make my own design. Especially
    because lots of websites are using bootstrap with, more or less, the
    default style. So, all those sites look the same ...</p>
    <p>Besides programming, I enjoy listening music
    (<a href="http://www.last.fm/user/brahici">my profile at last.fm</a>), reading
    fantasy or sci-fi books and I like to play board games (my favorites are
    <a href="http://www.daysofwonder.com/smallworld/en/">Smallworld</a> and
    <a href="http://www.riograndegames.com/games.html?id=240">Race for the Galaxy</a>).
    I am the secretary of a local club of board games players
    <a href="http://alpsjaa.over-blog.com/">ALPSJAA</a>.</p>
</div>
{% endblock %}
