<!doctype html>
<meta name="keywords" content="brice , vissiere , home , linux , python , opensource , open source , brahici , django, flask, pyramid, postgresql, mongodb, tdd, agile">
<meta name="author" content="Brice Vissière">
<meta charset="utf-8">
<title>{% block title %}default title{% endblock %}</title>
<link rel="shortcut icon" type="image/png" href="/media/wbo-favicon.png" />
<style type="text/css">
@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300|Aladin&subset=latin,latin-ext");
{% block additional_css %}
@import url("/media/style/style.css");
{% endblock %}
</style>
{% load article_tags %}
<div id="main">
    <div id="header">
        <div id="subheader1">brahici's lair</div>
        <div id="subheader2">my life, python stuff and links to heavy tunes</div>
    </div>
    <div id="menu">
        <ul>
            {% for menu in index_menus %}
            <li><a class="main_menu" href="{{ menu.url }}">{{ menu.label }}</a></li>
            {% endfor %}
        </ul>
        <div id="recent_articles" class="menu_section">
           {% get_recent_articles %}
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
<div id="legal_stuff">
    <span>&copy; copyright 2012 by Brice Vissi&egrave;re</span> ::
    <span>powered by <a href="http://www.djangoproject.com/">django</a></span> ::
    <span>hosted by <a href="http://www.alwaysdata.com">AlwaysData</a></span>
</div>
