{% extends "base_layout.html" %}
{% load static %}

{% block additional_css %}
{{ block.super }}
@import url({% static 'wbo/style/index.css' %});
@import url({% static 'wbo/style/article.css' %});
{% endblock %}

{% block title %}brahici's lair : categories{% endblock %}

{% block content %}
<div id="categories">
{% if categories %}
        <p>List of categories</p>
        <ul>
        {% for category in categories %}
        <li>
        <a href="{{ category.get_absolute_url }}">
            <span class="category_label">{{ category.label }}</span> </a> :
            {{ category.articles_published.count }}
            article{{ category.articles_published.count|pluralize }}
        </li>
        {% endfor %}
        </ul>
{% else %}
    <p>No categories created so far</p>
{% endif %}
</div>
{% endblock %}
