{% extends "base_layout.html" %}

{% block additional_css %}
{{ block.super }}
@import url("/static/style/index.css");
@import url("/static/style/article.css");
{% endblock %}

{% block title %}brahici's lair : articles{% endblock %}

{% block content %}
<div id="articles">
{% if articles %}
    <p class="articles_group">Articles published
    {% if articles_filtered %}
        {% if category %}
        in category <b>{{ category.label }}</b>
        {% elif year %}
            {% if month %}
            in <b>{{ month|date:'F' }} {{ year }}</b>
            {% else %}
            in <b>{{ year }}</b>
            {% endif %}
        {% elif tag %}
        with tag <b>{{ tag.name }}</b>
        {% endif %}
    {% endif %}
    ({{ articles.count }})</p>
    <ul>
        {% for article in articles %}
        <li>
        <a href="{{ article.get_absolute_url }}">
            <span class="article_title">{{ article.title }}</span>
        </a>
        in category <span class="article_category"><a href="{{ article.category.get_absolute_url }}">
        {{ article.category }}</a></span>
        on <span class="article_published_date">{{ article.published_date }}</span><br>
        {% for tag in article.tags.all %}{% if forloop.first %}tagged as {% endif %}
            <a href="{% url 'articles_by_tag' tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
        not tagged
        {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles so far</p>
{% endif %}
</div>
{% endblock %}
