{% extends "base_layout.html" %}

{% block additional_css %}
{{ block.super }}
@import url("/static/style/index.css");
@import url("/static/style/article.css");
{% endblock %}

{% block title %}brahici's lair : tags{% endblock %}

{% block content %}
<div id="article_tags">
{% if tags %}
        <p>List of tags</p>
        <ul>
        {% for tag in tags %}
        <li>
        <a href="{% url 'articles_by_tag' tag.slug %}">
            <span class="tag_label">{{ tag }}</span> </a> : {{ tag.count }}
            article{{ tag.count|pluralize }}
        </li>
        {% endfor %}
        </ul>
{% else %}
    <p>No tags created so far</p>
{% endif %}
</div>
{% endblock %}
